<div class="d-flex flex-align-left">
    <button>Retour au formulaire client</button>
</div>

<div class="d-flex flex-row">
    <div class="main-block mx-auto p-3">
    <div class="d-flex flex-column justify-content-center">
        <form id="adresse-form" [formGroup]="adresseForm" class="adresse-form d-flex flex-column"> -->
            <!-- Adresse -->
            <div class="d-flex flex-column mb-3">
                <label for="adresse" class="form-label mb-0">Adresse</label>
                <input type="text" name="adresse" formControlName="adresse" class="form-control"/>
            </div>
            <!-- Code postal -->
            <div class="d-flex flex-column mb-3">
                <label for="codePostal" class="form-label mb-0">Code postal</label>
                <input type="text" name="codePostal" formControlName="codePostal" class="form-control" pattern="[0-9]{0,5}" />
                <div class="form-text">5 chiffres maximum.</div>
            </div>
            <!-- Ville -->
            <div class="d-flex flex-column mb-3">
                <label for="ville" class="form-label mb-0">Ville</label>
                <input type="text" name="ville" formControlName="ville" class="form-control"/>
            </div>
            <!-- Validation -->
            <div class="d-flex flex-column align-items-end">
                <button type="submit" id="main-form-btn" [disabled]="!adresseForm.valid" class="btn btn-primary mt-3">
                    Ajouter cette adresse
                </button>
            </div>
        </form>
    </div>
    </div>
</div>
