<div class="d-flex flex-row">
    <div class="main-block mx-auto p-3 d-flex flex-row">
    <div class="d-flex flex-column justify-content-center">        
        <form id="adresse-form" (ngSubmit)="onSubmitForm()" [formGroup]="adresseForm" class="adresse-form d-flex flex-column m-3">
            <!-- Adresse -->
            <div class="d-flex flex-column mb-3">
                <label for="adresse" class="form-label mb-0">Adresse</label>
                <input type="text" name="adresse" formControlName="adresse" class="form-control"/>
            </div>
            <!-- Code postal -->
            <div class="d-flex flex-column mb-3">
                <label for="codePostal" class="form-label mb-0">Code postal</label>
                <input type="text" name="codePostal" formControlName="codePostal" class="form-control" pattern="[0-9]{0,5}" />
                <div class="form-text">5 chiffres maximum.</div>
            </div>
            <!-- Ville -->
            <div class="d-flex flex-column mb-3">
                <label for="ville" class="form-label mb-0">Ville</label>
                <input type="text" name="ville" formControlName="ville" class="form-control"/>
            </div>
            <!-- Validation -->
            <div class="d-flex flex-column align-items-end">
                <button type="submit" id="main-form-btn" [disabled]="!adresseForm.valid" class="btn btn-primary mt-3">
                    Ajouter cette adresse
                </button>
            </div>
        </form>
        <button routerLink="/client" class="btn btn-light" style="width:10vw">Retour au formulaire client</button>
    </div>
    <div *ngFor="let a of addresses$ | async">
        <div class="card mx-3 my-2 d-flex flex-row">
        <div class="card-body" tyle="width: 64rem;">
            <h4 class="card-title">{{a.adresse}}</h4>
            <div class="card-text">
                <p>{{a.codePostal}}</p>
                <p>{{a.ville}}</p>
            </div>
            <button class="btn btn-primary" (click)="removeAddress(a)">
                Supprimer
            </button>
        </div>
        </div>
    </div>
    </div>
</div>
